apiVersion: v1
kind: ConfigMap
metadata:
  name: jupyterhub-config
  namespace: datascience
data:
  jupyterhub_config.py: |
    c.JupyterHub.authenticator_class = 'googleauthenticator.GoogleOAuthenticator'
    c.GoogleOAuthenticator.client_id = 'YOUR_CLIENT_ID'
    c.GoogleOAuthenticator.client_secret = 'YOUR_CLIENT_SECRET'
    c.GoogleOAuthenticator.oauth_callback_url = 'https://jupyter.mireu.xyz/hub/oauth_callback'
    
    c.KubeSpawner.cpu_limit = 4
    c.KubeSpawner.mem_limit = '16G'
    c.KubeSpawner.gpu_limit = 1
    
    c.KubeSpawner.node_selector = {
        'nvidia.com/gpu': 'present'
    }
    
    c.KubeSpawner.volumes = [
        {
            'name': 'hot-data',
            'persistentVolumeClaim': {
                'claimName': 'hot-data-{username}'
            }
        },
        {
            'name': 'cold-data',
            'persistentVolumeClaim': {
                'claimName': 'cold-data-{username}'
            }
        }
    ]