apiVersion: apps/v1
kind: Deployment
metadata:
  name: jupyterhub
  namespace: datascience
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jupyterhub
  template:
    metadata:
      labels:
        app: jupyterhub
    spec:
      containers:
      - name: jupyterhub
        image: jupyterhub/k8s-hub:3.0
        ports:
        - containerPort: 8081
        volumeMounts:
        - name: config
          mountPath: /etc/jupyterhub
        env:
        - name: OAUTH_CALLBACK_URL
          value: "https://jupyter.mireu.xyz/hub/oauth_callback"
        resources:
          limits:
            cpu: "2"
            memory: "4Gi"
          requests:
            cpu: "1"
            memory: "2Gi"
      volumes:
      - name: config
        configMap:
          name: jupyterhub-config