# deployments/jupyterhub/values.yaml
proxy:
  secretToken: "generate-a-long-random-string"
  service:
    type: ClusterIP

ingress:
  enabled: true
  hosts:
    - jupyter.mireu.xyz
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
  tls:
   - hosts:
       - jupyter.mireu.xyz
     secretName: jupyterhub-tls

hub:
  serviceAccount:
    create: true
  extraEnv:
    OAUTH_CLIENT_ID:
      valueFrom:
        secretKeyRef:
          name: google-oauth-secret
          key: clientId
    OAUTH_CLIENT_SECRET:
      valueFrom:
        secretKeyRef:
          name: google-oauth-secret
          key: clientSecret
    OAUTH_CALLBACK_URL:
      valueFrom:
        secretKeyRef:
          name: google-oauth-secret
          key: oauthCallbackUrl
  config:
    JupyterHub:
      authenticator_class: google
      allow_named_servers: true
      spawner_class: "kubespawner.KubeSpawner"
    Authenticator:
      admin_users:
        - limmireu1214@gmail.com
    GoogleOAuthenticator:
      login_service: "Google"
    KubeSpawner:
      resources:
        limits:
          nvidia.com/gpu: "1"

singleuser:
  image:
    name: ghcr.io/mireu-lab/k3s-datascience-stack
    tag: main
  storage:
    type: dynamic
    capacity: 20Gi
    dynamic:
      storageClass: "local-path"
  extraEnv:
    JUPYTER_ENABLE_LAB: "yes"
    LD_LIBRARY_PATH: "/usr/local/nvidia/lib64"

rbac:
  create: true
