---
# Hadoop Configuration ConfigMap for JupyterHub
apiVersion: v1
kind: ConfigMap
metadata:
  name: hadoop-config
  namespace: jupyterhub
data:
  core-site.xml: |
    <?xml version="1.0"?>
    <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
    <configuration>
      <property>
        <name>fs.defaultFS</name>
        <value>hdfs://hdfs-cluster-namenode-default-0.default.svc.cluster.local:8020</value>
      </property>
      <property>
        <name>hadoop.tmp.dir</name>
        <value>/tmp/hadoop</value>
      </property>
      <property>
        <name>dfs.client.use.datanode.hostname</name>
        <value>true</value>
      </property>
    </configuration>

  hdfs-site.xml: |
    <?xml version="1.0"?>
    <?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
    <configuration>
      <property>
        <name>dfs.replication</name>
        <value>1</value>
      </property>
      <property>
        <name>dfs.namenode.name.dir</name>
        <value>file:///mnt/nvme/hdfs-data/namenode</value>
      </property>
      <property>
        <name>dfs.datanode.data.dir</name>
        <value>[SSD]file:///mnt/nvme/hdfs-data/datanode</value>
      </property>
      <property>
        <name>dfs.client.use.datanode.hostname</name>
        <value>true</value>
      </property>
    </configuration>
