image:
  registry: docker.io
  repository: traefik
  tag: "v3.6.0"

deployment:
  enabled: true
  replicas: 1

ports:
  web:
    port: 80
    expose:
      default: true
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
    tls:
      enabled: true
  traefik:
    port: 9000
    expose:
      default: false

ingressRoute:
  dashboard:
    enabled: true
    annotations: {}
    labels: {}
    matchRule: Host(`traefik.mireu.xyz`)
    entryPoints: ["websecure"]

providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: true

globalArguments:
  - "--global.checknewversion"
  - "--global.sendanonymoususage=false"

additionalArguments:
  - "--log.level=INFO"
  - "--accesslog=true"
  - "--entrypoints.web.address=:80"
  - "--entrypoints.websecure.address=:443"
  - "--api.dashboard=true"
  - "--ping=true"
  - "--providers.kubernetescrd"
  - "--providers.kubernetesingress"
  - "--providers.kubernetesingress.ingressclass=traefik"
  - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
  - "--entrypoints.web.http.redirections.entryPoint.scheme=https"

logs:
  general:
    level: INFO
  access:
    enabled: true

service:
  enabled: true
  type: LoadBalancer
  annotations: {}
  labels: {}
  spec:
    externalTrafficPolicy: Local
  loadBalancerSourceRanges: []

resources:
  requests:
    cpu: "500m"
    memory: "512Mi"
  limits:
    cpu: "1000m"
    memory: "1Gi"

persistence:
  enabled: false
  storageClass: "nvme-storage"
  accessMode: ReadWriteOnce
  size: 10Gi
  path: /data

securityContext:
  capabilities:
    drop: [ALL]
    add: [NET_BIND_SERVICE]
  readOnlyRootFilesystem: true
  runAsGroup: 0
  runAsNonRoot: false
  runAsUser: 0

podSecurityContext:
  fsGroup: 65532

metrics:
  prometheus:
    enabled: true
    entryPoint: metrics
