extraEnv: |
  - name: KEYCLOAK_USER
    value: admin
  - name: KEYCLOAK_PASSWORD
    value: admin

postgresql:
  enabled: false

service:
  type: ClusterIP
  httpPort: 8080

ingress:
  enabled: false

proxy: edge
