global:
  storageClass: "nvme-storage"

server:
  service:
    type: ClusterIP
  
  ingress:
    enabled: true
    ingressClassName: traefik
    hostname: argocd.mireu.xyz
    tls: true
    extraTls:
      - hosts:
          - argocd.mireu.xyz
        secretName: mireu-xyz-tls
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.tls: "true"
  
  extraArgs:
    - --insecure
  
  config:
    url: https://argocd.mireu.xyz
    application.instanceLabelKey: argocd.argoproj.io/instance
    
  resources:
    limits:
      memory: 2Gi
      cpu: 1000m
    requests:
      memory: 1Gi
      cpu: 500m

controller:
  resources:
    limits:
      memory: 4Gi
      cpu: 2000m
    requests:
      memory: 2Gi
      cpu: 1000m

repoServer:
  resources:
    limits:
      memory: 2Gi
      cpu: 1000m
    requests:
      memory: 1Gi
      cpu: 500m

dex:
  enabled: false

redis:
  enabled: true
  auth:
    enabled: false
  master:
    persistence:
      enabled: true
      storageClass: "nvme-storage"
      size: 8Gi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

config:
  repositories: |
    - type: git
      url: https://github.com/Mireu-Lab/k3s-datascience-stack.git
      name: researchops-repo

# 초기 관리자 비밀번호 (변경 필요)
adminPassword: "ArgoAdmin123!"
adminEnabled: true
